@model ComposerViewModel



<h1>@Model.Music.ScottyTime</h1>
<h1>@Model.Film.Name</h1>
<h1>@Model.Film.Id</h1>
<h1>@Model.Film.ImageUrl</h1>
<h1>@Model.Film.Length</h1>
<h1>@Model.Film.YearReleased</h1>

